# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Spine Directory Service (SDS) API
# owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
info:
  version: "{VERSION}"
  title: Spine Directory Service API
  description: |
    ## Overview
    Use this API to access the [Spine Directory Services (SDS)](https://digital.nhs.uk/services/spine) - an endpoint and identifier directory for Spine and Spine connected systems, containing information on organisations, people and systems registered in the Spine Directory Service (SDS).
    
    You can:
    - search for information on systems

    You cannot currently use this API to:
    - search for organisations
    - search for people

    GP Connect provider and consumer systems are registered in SDS in order to enable: 
    * consumer systems to look up provider system’s ASID and endpoint information 
    * the Spine Secure Proxy to allow or deny requests based on known identifier and endpoint information  
    
    ### Accredited Systems records 
    Every system that connects to the Spine has one or more “Accredited System” (AS) records in SDS, identified by an Accredited System Identifier (ASID). 
    This ASID is unique to a system deployed in a specific organisation, so the same application deployed into three NHS organisations would typically be represented as three unique ASIDs. 
    
    ### MHS records and endpoints 
    Every GP Connect system also has one or more “MHS” records (or message handling server record), identified by Party Key and [Interaction ID](https://developer.nhs.uk/apis/gpconnect-0-7-2/integration_interaction_ids.html). 
    MHS records of GP Connect provider systems contain the endpoint of the target practice, as defined by the [FHIR service root URL](https://developer.nhs.uk/apis/gpconnect-0-7-2/development_fhir_api_guidance.html#service-root-url). 
    Please see [System topologies](https://developer.nhs.uk/apis/gpconnect-0-7-2/integration_system_topologies.html) for more details on the allocation of ASIDs and Party Keys. 
    
    ## API status 
    This API is in [alpha](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#api-status), meaning:- we are in early prototyping, the API specification is available, and maybe a sandbox service is available - but we expect to make extensive breaking changes based on developer feedback   
    If you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).

    ## Technology 
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    It also conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir) global standard for health care data exchange.Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4.You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.In particular:
    - resource names are capitalised and singular, for example `/Patient` not `/patients`
    - array names are singular, for example `line` not `lines` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object
    
    ## Network access
    This API is available on the Internet.

    ## Authorisation 
    This API uses the Application-restricted pattern.  For more information on this pattern, please see our [Security and Authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis) page within the NHS Digital Portal.

    ## Environments and testing 
    | Environment       | Base URL                                                       
    | ----------------- | --------------------------------------------------------------|
    | Sandbox           | `https://sandbox.api.service.nhs.uk/spine-directory/`         |
    | Integration test  | `https://int.api.service.nhs.uk/spine-directory/`             |
    | Production        | Not yet available                 |
    
    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so it does not actually persist any updates
    * is open access,so does not allow you to test authorisation
    
    For more details on sandbox testing, or to try out the sandbox using our \"Try this API\" feature, see the documentation for each endpoint.
    
    ## Integration testing 
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing) is available for formal integration testing.

    The SDS API specification has more information on this.

    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).
    
    ## Onboarding
    Onboarding for this API is not available yet, but when it is, you need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.
    To onboard for this API, follow the [Supplier Conformance Assessment List (SCAL) process.](https://digital.nhs.uk/developer/guides-and-documentation/onboarding-process#onboard-using-the-supplier-conformance-assessment-list-scal-process)
    When following the SCAL process, note that:
    * In step 9: you must conduct penetration testing to [CHECK standards](https://www.ncsc.gov.uk/information/check-penetration-testing).
    * In step 10: when you complete the Service Desk Registration Form, send it to [api.management@nhs.net](mailto:api.management@nhs.net).
    * In step 11: submit your completed SCAL to [api.management@nhs.net](mailto:api.management@nhs.net).
    * In step 14: to request production access, contact us at [api.management@nhs.net](mailto:api.management@nhs.net).

  contact:
    name: Spine Directory Service API Support
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/spine-directory'
    description: Sandbox environment
paths:
  /Endpoint:
    get:
      summary: Request to obtain combined routing and reliability information
      operationId: getEndpoint
      description: |
        # Overview
        Use this endpoint to search for accredited systems routing and reliability information in SDS.

        You must use a combination of:
          * organisation code
          * service Id

      parameters:
        - in: query
          name: org-code
          description: The organisation code for the Spine instance that your MHS is communicating with (eg."YES-0000806")
          required: true
          schema:
            type: string
        - in: query
          name: service-id
          description: service that is being contacted and the action that is required (eg."urn:nhs:names:services:psis:REPC_IN150016UK05")
          required: true
          schema:
            type: string
      responses:
        '200':
          description: search results matching criteria
          content:
            application/fhir+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Endpoint'
            application/fhir+xml:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Endpoint'
        '400':
          description: bad input parameter
components:
  schemas:
    Endpoint:
      type: object
      description: "A FHIR endpoint that will return the routing and reliability information from the spine route lookup"
      required:
        - address
        - status
        - connectionType
        - payloadType
      properties:
        resourceType:
          type: string
          description: "FHIR Resource type"
          example: "Endpoint"
        id:
          type: string
          description: "Logical id of this artifact"
          format: uuid
          example: "f0f0e921-92ca-4a88-a550-2dbb36f703af"
        extension:
          type: array
          description: "Additional content defined by implementations"
          items:
            type: object
            properties:
              url:
                type: string
                example: "https://fhir.nhs.uk/R4/StructureDefinition/Extension-SDS-ReliabilityConfiguration"
                xml:
                  attribute: true
              extension:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                      xml:
                        attribute: true
                    valueString:
                      type: string
                example:
                  - url: "nhsMHSSyncReplyMode"
                    valueString: "MSHSignalsOnly"
                  - url: "nhsMHSRetryInterval"
                    valueString: "PT1M"
                  - url: "nhsMHSRetries"
                    valueString: "2"
                  - url: "nhsMHSPersistDuration"
                    valueString: "PT5M"       
                  - url: "nhsMHSDuplicateElimination"
                    valueString: "always"
                  - url: "nhsMHSAckRequested"
                    valueString: "always"
        identifier:
          type: array
          description: "Identifies this endpoint across multiple systems"
          xml:
            wrapped: false
          items: 
            type: object
            properties:
              system:
                type: string
                xml:
                  attribute: true
              value:
                type: string
          example:
            - system: "https://fhir.nhs.uk/Id/nhsEndpointServiceId"
              value: "urn:nhs:names:services:psis:REPC_IN150016UK0"
            - system: "https://fhir.nhs.uk/Id/nhsMhsFQD"
              value: "192.168.128.11"
            - system: "https://fhir.nhs.uk/Id/nhsMhsEndPoint"
              value: "https://192.168.128.11/reliablemessaging/reliablerequest"
            - system: "https://fhir.nhs.uk/Id/nhsMhsPartyKey"
              value: "R8008-0000806"
            - system: "https://fhir.nhs.uk/Id/nhsMhsCPAId"
              value: "S20001A000182"
            - system: "https://fhir.nhs.uk/Id/nhsSpineASID"
              value: "227319907548"
        status:
          type: string
          enum:
            - active
            - suspended 
            - error 
            - off 
            - entered-in-error 
            - test
          example: "active"
        connectionType:
          type: object
          description: "Protocol/Profile/Standard to be used with this endpoint connection"
          properties:
            system:
              type: string
              example: "http://terminology.hl7.org/CodeSystem/endpoint-connection-type"
            code:
              type: string
              example: "hl7-fhir-msg"
            display:
              type: string
              example: "HL7 FHIR Messaging"
        managingOrganization:
          type: object
          description: "Organization that manages this endpoint (might not be the organization that exposes the endpoint)"
          properties:
            identifier:
              type: object
              properties:
                system:
                  type: string
                  example: "https://fhir.nhs.uk/Id/ods-organization-code"
                value:
                  type: string
                  example: "R8008"
        payloadType:
          type: array
          description: "The type of content that may be used at this endpoint (e.g. XDS Discharge summaries)"
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      example: "http://terminology.hl7.org/CodeSystem/endpoint-payload-type"
                    code:
                      type: string
                      example: "any"
                    display:
                      type: string
                      example: "any"
        address:
          type: string
          description: "The technical base address for connecting to this endpoint"
          example: "https://192.168.128.11/"
      xml:
        name: Endpoint
        namespace: "http://hl7.org/fhir"
