{
	"id": "4840ad3f-c7f9-4717-8582-d15fb40cd47a",
	"name": {{ENVIRONMENT}},
	"values": [
		{
			"key": "environment",
			"value": {{API_TEST_URL}},
			"description": "",
			"enabled": true
		},
		{
			"key": "org-code",
			"value": {{ORG_CODE}},
			"description": "",
			"enabled": true
		},
		{
			"key": "service-id",
			"value": {{SERVICE_ID}},
			"description": "",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2020-07-24T11:48:08.908Z",
	"_postman_exported_using": "Postman/6.7.4"
}
